<!-- about -->
<section class="section">
<section class="about">
  <h2>About Finance Hub</h2>
  <p>Finance Hub na your go-to place for money gist in Pidgin. We dey help you understand how to save, spend, and grow your money with simple tips and inspiring stories. Whether you be beginner or pro, we get something for you!</p>
</section>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto text-center">
        <p class="font-secondary paragraph-lg text-dark">{{ site.data.settings.blurb }}</p>
        <a href="{{ site.data.settings.blurb-btn-link }}" class="btn btn-transparent">{{ site.data.settings.blurb-btn-name }}</a>
      </div>
    </div>
  </div>
</section>
<!-- /about -->
